@import url(fonts.css);

:root {
    --gradient-1: linear-gradient(180deg,
     hsl(252, 100%, 67%),
     hsl(241,81%,54%)
     );
    --gradient-2: linear-gradient(
    hsla(256, 72%, 46%),
    hsla(241, 72%, 46%, 0)
    );
}
* {
    font-family: "Hanken Grotesk";
    box-sizing: border-box;
}

ul {
    padding-left: 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contianer {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center
}

.result {
    text-align: center;
    background-image: var(--gradient-1);
    background-color: hsl(241, 81%, 54%);
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    max-width: 375px;
    padding-left: 25px;
    padding-right: 25px;
}

.degree {
    background-image: var(--gradient-2);
    width: 122px;
    height: 122px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.y-result {
    font-size: 22px;
    font-weight: 300;
}

.degree span {
    font-size: 12px;
    font-weight: lighter
}

p {
    font-size: 12px;
    font-weight: lighter
}

.my-deg {
    font-size: 50px !important; 
    border-radius: 50px;
    font-weight: bolder !important;
    margin: 0;
}

.summary {
    font-size: 20px;
    margin-right: auto;
}

.scound-div {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scound-div h3, span {
    font-size: 14px;
    font-weight: 700;
}

.scound-div ul {
    list-style: none;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.scound-div li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.scound-div h3 {
    margin-right: auto;
}

ul li {
    width: 100%;
    border-radius: 15px;
    padding-right: 15px;
    padding-left: 15px;
    height: 39px;
    margin-bottom: 12px;
}

ul li span {
    color: black;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.252);
    color: hsl(0, 85%, 33%);
    
}

.memory {
    background-color:  hsla(39, 100%, 56%, 0.239);;
    color:hsl(39, 100%, 56%) ;
}

.verbal {
    background-color: hsla(166, 100%, 37%, 0.227);
    color:hsl(166, 100%, 37%) ;
}

.visual {
    background-color: hsla(234, 85%, 45%, 0.256);
    color:hsl(234, 85%, 45%) ;
}

button {
   background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%);
    width: 242px;
    height: 45px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: none;
}

button:hover {
    background: var(--gradient-1)
}

@media (max-width:767px) {
    .contianer{
        flex-direction: column;
    }
}